.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "body"
    "footer";

    min-height: 100vh;
    min-height: 100dvh;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.body {
  grid-area: body;
}
